body {
  font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN',
   'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, sans-serif;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 19px;
  height: 19px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 35px;
  height: 35px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-lg {
  width: 175px;
  height: 175px;
  text-align: center;
  padding: 43px 0;
  font-size: 45px;
  line-height: 2.00;
  border-radius: 120px;
}

.btn-circle-lg2 {
  width: 175px;
  height: 175px;
  text-align: center;
  padding: 27px 0;
  font-size: 32px;
  line-height: 1.1;
  border-radius: 120px;
}
